/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Esconde possíveis transbordamentos horizontais */

}

/* Estrutura global */
.titulo-secao {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}
