section {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 100%;
}

.servicos,
.projetos {
    background-color: #000;
    padding: 40px 20px;
}

.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.buttons {
    margin: 20px;
}

button {
    background-color: #ffa652;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e59442;
}

main {
    padding: 20px;
}

section {
    min-height: 100vh;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobreMim, .competencia, .projetos, .contato {
    margin: 0;
    max-width: 100%;
    text-align: center;
}

h2, .titulo-secao {
    font-size: 2rem;
    color: #ffa652;
    margin-bottom: 20px;
}

.servicos-lista, .projetos-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.servico-card, .projeto-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 100%;
    max-width: 250px;
    text-align: left;
    background-color: #ffffff;
    color: #333;
}

.cta-botao {
    color: white;
    background-color: #ffa652;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-botao:hover {
    background-color: #e59442;
    transform: scale(1.05);
}

a {
    color: #ffa652;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.home {
    background-color: #232323;
}

.sobreEmpresa {
    background-color: #333;
}

.contato {
    background-color: #444;
    color: #fff;
}

@media (max-width: 768px) {
    .servicos-lista, .projetos-lista {
        flex-direction: column;
    }

    section {
        padding: 20px;
    }
}